:host {
  display: inline-flex;

}

.app-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  line-height: 0;
  color: inherit;

}

.app-icon svg {
  width: 100%;
  height: 100%;
  display: block;
}