<main>

  <!-- 1. Hero -->
  <app-hero (openFilter)="onOpenFilter()" />

  <!-- 2. Categorías -->
  <app-categories />

  <!-- 3. Secciones de eventos -->
  @for (section of homeSections; track section.key) {

    <app-event-row
      [title]="section.title"
      [seeAllPath]="'/explorar'"
      [events]="section.mappedEvents">
    </app-event-row>

  }

  <!-- 4. Profesionales -->
  <app-professionals-grid />

  <!-- 5. Comunidad -->
  <app-community-banner />

  <!-- 6. CTA -->
  <app-cta-banner />

</main>